.Indicadores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 128px auto;
  width: 90%;
  min-height: 256px;
}

.ContainerGraficas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Grafica {
  text-align: center;
  margin: 0 16px;
}

.Grafica div{
  width: 156px;
  height: 156px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background-color 200ms ease-in;
}

.normal {
  background-color: var(--green);
}

.failure {
  background-color: var(--yellow);
}

.critical {
  background-color: var(--red);
}