.Toolbar {
  padding: 16px;
}

.imgContainer {
  width: 65px;
  height: 65px;
  background: url('../../assets/images/smallLogo.png');
  background-size: cover;
}

.Toolbar p {
  font-family: 'Montserrat';
  font-size: 20px;
}

@media (min-width: 1024px) {
  .imgContainer {
    width: 250px;
    height: 77;
    background: url('../../assets/images/fullLogo.png');
    background-size: cover;
  }
}