.Menu {
  position: fixed;
  z-index: 1000;
  bottom: 90px;
  right: 30px;
}

.Menu ul {
  list-style: none;
}

@media (min-width: 1024px) {
  .Menu {
    position: static;
    width: 100%;
    transform: translateX(0);
  }

  .Menu ul {
    padding: 0;
    text-align: center;
  }
}