.Menu {
  position: fixed;
  z-index: 1000;
  bottom: 90px;
  right: 30px;
  transform: translateX(200px);
  transition: transform 150ms ease-out;
}

.Menu ul {
  list-style: none;
}

.show {
  transform: translateX(0);
}