.Resumen {
  text-align: center;
}

.Resumen h2 {
  font-family: 'Barlow';
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0;
}

.Resumen p {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
}