@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&family=Lato:wght@400;700&display=swap');

:root {
  --black: #3D4045;
  --orange: #F09527;
  --yellow: #E4A92B;
  --tile: #888463;
  --red: #B13B27;
  --green: #1a811a;
}

* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  margin: 0 auto;
  font-family: 'Lato', 'Barlow', sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}