@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --black: #3D4045;
  --orange: #F09527;
  --yellow: #E4A92B;
  --tile: #888463;
  --red: #B13B27;
  --green: #1a811a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', 'Montserrat', sans-serif;
  color: var(--orange);
  background-color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}