.SideDrawer {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100vh;
  transform: translateX(700px);
  transition: transform 150ms ease-out;
}

.show {
  transform: translateX(0);
}

@media (min-width: 1024px) {
  .SideDrawer {
    position: static;
    flex-grow: 1 !important; 
    background-color: #6C6C6C;
    transform: translateX(0);
  }
}